@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300;500&family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Quicksand", sans-serif; */
}
